In [1]:
import pandas as pd

In [8]:
calls = pd.read_csv('data/bi_case_calls_combined.csv')
calls.sample(10)

       contractid            call_date      call_reason
50797     3073928  2024-10-28 00:00:00  General Enquiry
8710      2775579  2024-03-06 00:00:00  General Enquiry
4278      3320910  2025-03-24 00:00:00  General Enquiry
41419     3178517  2025-01-21 00:00:00      Token Issue
99159     3377812  2025-05-02 00:00:00      Token Issue
22457     3764828  2025-10-30 00:00:00      Token Issue
34294     3039891  2024-11-11 00:00:00  General Enquiry
4246      3175244  2024-12-27 00:00:00      Token Issue
82424     3763865  2025-10-12 00:00:00  General Enquiry
14972     3400078  2025-05-10 00:00:00  General Enquiry

In [9]:
calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134023 entries, 0 to 134022
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   contractid   134023 non-null  int64
 1   call_date    134023 non-null  object
 2   call_reason  134023 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.1+ MB

In [2]:
contracts = pd.read_csv('data/bi_case_contracts_combined.csv')
contracts

,contractid,sales_month,region,product,sales_person_id,contract_type,price_usd,payment_frequency,perc_deposit,tenor_length,daily_amount_usd,customer_gender,household_size,occupation
0,3098268,2024-10-31,Western,Small Solar,154077.0,FINANCED,150.0,WEEKLY,0.0510,434.0,0.328,Male,NaN,Teacher
1,3554125,2025-04-30,Western,Small Solar,878345.0,FINANCED,150.0,WEEKLY,0.0313,434.0,0.335,Male,NaN,Teacher
2,2792627,2024-03-31,Western,Small Solar,648775.0,FINANCED,150.0,WEEKLY,0.0554,434.0,0.326,Male,4,Government Employee
3,2869807,2024-05-31,Western,PAYGO_PHONE,328066.0,FINANCED,200.0,WEEKLY,0.1827,189.0,0.865,Male,NaN,Business
4,3674681,2025-06-30,Western,Small Solar,813534.0,FINANCED,NaN,WEEKLY,0.0296,364.0,NaN,Male,NaN,Business
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486618,3817296,2025-09-30,Southern,Small Solar,670507.0,FINANCED,150.0,DAILY,0.0495,480.0,0.297,Male,NaN,Labourer
486619,3817534,2025-09-30,Southern,Small Solar,884340.0,FINANCED,150.0,DAILY,0.0495,480.0,0.297,Female,NaN,Business
486620,3817434,2025-09-30,Northern,PAYGO_PORTABLE,246897.0,FINANCED,100.0,TRIDAILY,0.0401,399.0,0.241,Male,NaN,Farmer
486621,3817380,2025-09-30,Northern,Large Solar - Generation 2,500619.0,FINANCED,280.0,DAILY,0.0565,640.0,0.413,Female,NaN,Business
486622,3820831,2025-09-30,Western,Small Solar,153455.0,FINANCED,150.0,WEEKLY,0.0268,406.0,0.360,Male,NaN,Business

In [3]:
contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486623 entries, 0 to 486622
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   contractid         486623 non-null  int64
 1   sales_month        486623 non-null  object
 2   region             486623 non-null  object
 3   product            484457 non-null  object
 4   sales_person_id    476903 non-null  float64
 5   contract_type      486623 non-null  object
 6   price_usd          482062 non-null  float64
 7   payment_frequency  461282 non-null  object
 8   perc_deposit       461271 non-null  float64
 9   tenor_length       461282 non-null  float64
 10  daily_amount_usd   457543 non-null  float64
 11  customer_gender    486623 non-null  object
 12  household_size     10370 non-null   object
 13  occupation         426940 non-null  object
dtypes: float64(5), int64(1), object(8)
memory usage: 52.0+ MB

In [4]:
contracts.isna().sum()

contractid                0
sales_month               0
region                    0
product                2166
sales_person_id        9720
contract_type             0
price_usd              4561
payment_frequency     25341
perc_deposit          25352
tenor_length          25341
daily_amount_usd      29080
customer_gender           0
household_size       476253
occupation            59683
dtype: int64

In [8]:
contracts['payment_frequency'].unique()

array(['WEEKLY', 'DAILY', nan, 'TRIDAILY', 'MONTHLY'], dtype=object)

In [18]:
contracts['sales_person_id'].isna().sum()

9720

In [5]:
payments = pd.read_csv('data/bi_case_payments_combined.csv')
payments

         contract_id   pay_month  total_paid
0            2685526  2024-01-31     49.4997
1            2685526  2024-02-29     25.0834
2            2685528  2024-02-29      9.5287
3            2685528  2024-03-31      3.0738
4            2685546  2024-01-31         NaN
...              ...         ...         ...
1729772      3820655  2025-10-31      9.9125
1729773      3820655  2025-11-30     11.6896
1729774      3820669  2025-12-31      7.8429
1729775      3820684  2025-11-30      6.3638
1729776      3820692  2025-10-31      4.5972

[1729777 rows x 3 columns]

In [6]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1729777 entries, 0 to 1729776
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   contract_id  int64
 1   pay_month    object
 2   total_paid   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 39.6+ MB

In [7]:
payments.isna().sum()

contract_id        0
pay_month          0
total_paid     14407
dtype: int64

In [9]:
service_tickets = pd.read_csv('data/bi_case_service_tickets_combined.csv')
service_tickets

,contractid,ticket_date,ticket_reason,ticket_outcome
0,3063987,2024-11-01 00:00:00,Product Not Working,Problem Found & Solved
1,2943973,2024-07-01 00:00:00,Product Not Working,Customer Training Issue
2,3810596,2025-11-05 00:00:00,Product Not Working,Customer Training Issue
3,3375235,2025-04-25 00:00:00,Product Damaged,Problem Found & Solved
4,2740272,2024-04-16 00:00:00,Product Not Working,Problem Found & Solved
...,...,...,...,...
21485,3777856,2025-09-30 00:00:00,Product Not Working,Problem Found & Solved
21486,3778527,2025-10-16 00:00:00,Product Damaged,Problem Found & Solved
21487,3798944,2025-12-14 00:00:00,Product Damaged,Problem Found & Solved
21488,3797327,2025-11-19 00:00:00,Product Not Working,Problem Found & Solved
21489,3802515,2025-11-24 00:00:00,Product Not Working,Problem Found & Solved